<div class="repo">
    <!-- <br>
<br>
<br> -->
    <app-search></app-search>
     
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                   <img id="avatar" src="https://images.unsplash.com/photo-1649996415915-0641e9283532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="avatar"> 
                    <div class="card-text"> <br>
                        <p class="bio">
                            <span>Bio</span>
                        </p>
                        <p class="followers">Followers:</p>
                        <p class="following">Following:</p>
                        <p class="joined">Joined on: </p>
                        <button class="button">See github profile</button>
                    </div>
               
                    
                </div>
               
            </div>
            
        </div>
        
            
    
    </div>
</div>
