<div class="repo">
    <!-- <br>
<br>
<br> -->
<form >
    <div class="form-group">
        <input type="search" class="form-control" name="search" id="search" placeholder="Search ....." autocomplete="off" [(ngModel)]="username" (keyup)="search()">
    </div>
    
</form>

     
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" *ngIf="user">
                   <img class="github-avatar img-thumbnail" id="avatar" 
                   src={{user.avatar_url}} alt="avatar"> 
                    <div class="card-text" > <br>
                        <p class="name">
                            Username: {{user.name}}
                        </p>
                        <p class="bio">
                            <span>Bio:{{user.bio}}</span>
                        </p>
                        <p class="followers">Followers:{{user.followers}}</p>
                        <p class="following">Following:{{user.following}}</p>
                       
                        <p class="joined">Member Since:{{user.created_at | date}} </p>
                        <button class="button" >
                            <a id="user"href="{{user.html_url}}" target="_blank">See github profile</a>
                        </button>
                    </div>
               
                    
                </div>
               
            </div>
            
        </div>
        
            
    
    </div>
</div>
