
<div class="body">
    <div class="body2">
        <!-- <br><br><br> -->
        <!-- <app-search></app-search> -->
        <div class="text">
            <h1 >Welcome to Github Search </h1>
            <h2> Search for repositories & users on Github</h2>
        </div>
        <br>
        <div class="row">
            
            <h2>Best repositories you should visit</h2>
            <div class="col-md-4 my-2">
                    <div class="card" >
                    
                        <div class="card-body">
                            <h5 class="card-title">Quotes</h5> 
                            <p class="card-text">This is a project where you can add your quotes, the author of the quote and your name. You can also upvote or downvote a quote depending on whether you like it or not.</p>
                           <footer>
                               <div id="left" style="float:left;">
                                <a href="https://github.com/JoyChristine/Quotes"id="btn">Github repo</a>
                               </div>
                               <div id="right" style="float:right;">
                                <a href="https://github.com/JoyChristine/Quotes"id="btn">Github repo</a>
                               </div>
                           
                               
                           </footer> 
                            
                        </div>
                    </div>
                   
               
        
            </div>
            <div class="col-md-4 my-2">
        
                    <div class="card" >
                    
                        <div class="card-body">
                            <h5 class="card-title">Pizza Palace</h5> 
                            <p class="card-text">Pizza Palace is website I created where one can order pizza depending on flavour, size, crust type etc. The pizza can also be delivered at your location.</p>
                            <footer>
                                <div id="left" style="float:left;">
                                 <a href="https://github.com/JoyChristine/Quotes"id="btn">Github repo</a>
                                </div>
                                <div id="right" style="float:right;">
                                 <a href="https://github.com/JoyChristine/Quotes"id="btn">Github repo</a>
                                </div>
                            
                                
                            </footer> 
                        </div>
                    </div>
                   
               
             
            </div>
            <div class="col-md-4 my-2">
                
               
              
                    <div class="card" >
                    
                        <div class="card-body">
                            <h5 class="card-title">Delani Studio</h5> 
                            <p class="card-text">A website to a fictional website known as delani studio.The contact form uses mailchimp to track all those who fill the 'contact us' form. Jquery was the main language </p>
                            <footer>
                                <div id="left" style="float:left;">
                                 <a href="https://github.com/JoyChristine/Quotes"id="btn">Github repo</a>
                                </div>
                                <div id="right" style="float:right;">
                                 <a href="https://github.com/JoyChristine/Quotes"id="btn">Github repo</a>
                                </div>
                            
                                
                            </footer> 
                        </div>
                    </div>
                   
               
             
            </div>
           
    
        </div>
        
        
    </div>
    
</div>

