.body{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1505685296765-3a2736de412f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fGNvZGV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    height:100vh;
    
    /* background-color: #5D0926; */
    /* margin-top: 5%; */
    /* display:flex;
    flex-direction: row; */
}
     

.menu{
   margin-left: 0%;
   margin-top: 2%;
}
.menu-list{
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}
.menu-list li a{
    text-decoration: none;
    color:white;
    font-size: 1.1vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    

}
/* left */


.text {
   text-align:center;
    margin-top:5%;
    color:#fff;
    font-size:2vw;
    font-family: 'Fuzzy Bubbles', cursive;
}
.row h2{
    color:#fff;
    font-size:1.4vw;
    font-family: 'Fuzzy Bubbles', cursive;
}
/* .card{
    height:19vw;
} */
.card-title{
    font-size:2vw;
    text-decoration: underline;
}
.card-text{
    font-size: 1.3vw;
}
#btn{
    font-size:1vw;
}