
<div class="repo">
   <!-- <br><br><br> -->
   <form >
    <div class="form-group">
        <input type="search" class="form-control" name="search" id="search" placeholder="Search ....." autocomplete="off" [(ngModel)]="username" (keyup)="search()">
    </div>
    
</form>
      
    <div class="row">
        <div class="col-md-4">
            <div class="card" *ngIf="repos">
                <div class="card-body" *ngFor="let repo of repos">
                    <p class="card-title">
                        <h4>
                            <a href="{{repo.html_url}}" target="_blank"> Repository Name : {{repo.name}}</a>
                        </h4>
 
                         <p>description: {{repo.description}}</p>
                        <p class="language">Languages used: {{repo.language}} </p>
                        <p class="time">Created on:{{repo.created_at}}</p>
                   
               
                    
                </div>
               
            </div>
        
        </div>
        
            
    
    </div>
</div>


           
