
<div class="repo">
   <!-- <br><br><br> -->
    <app-search></app-search>
      
    <div class="row" >
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">
                        Repository Name : Delani Studio
                    <div class="card-text">
                        <p class="describe">
                            <span>Description: </span>
                        </p>
                        <p class="language">Languages used: </p>
                        <p class="time">Created on:</p>
                    </div>
                <button id="button" >See github repo</button>
                    
                </div>
               
            </div>
        
        </div>
        
            
    
    </div>
</div>


           
