<app-navbar></app-navbar>
<div class="body">
    <div class="right">
        <img src="https://avatars.githubusercontent.com/u/57414671?v=4" alt="">
        <div class="menu">
            <ul class="menu-list">
                <li id="item1"><a href="">@joychristine</a></li>
                <li id="item2"><a href="">JoyChristine </a></li>
                <li id="item3"><a href="">joychristin2@gmail.com</a></li>
                <li id="item4"><a href="">
                    <button>Edit Profile</button>
                </a></li>
                <li id="item5"><a href="">Followers &nbsp; following </a></li>
                <li id="item6" ><a href="">Nairobi, Kenya </a></li>
            </ul>
        </div>
    </div>
    <div class="left">
        <input type="search" name="find-repo" id="repo" placeholder="Find a repository..." autocomplete="off">

    </div>
    
</div>
