<app-navbar></app-navbar>

<div class="body">
    <div class="body2">
        <app-search></app-search>
        <div class="right">
            
            <img src="https://avatars.githubusercontent.com/u/57414671?v=4" alt="">
            <div class="menu">
    
                <ul class="menu-list">
                    <li id="item1"><a href="">GitHub Username: @joychristine</a></li>
                    <!-- <li id="item3"><a href="">Email: joychristin2@gmail.com</a></li> -->
                   <li id="item4">
                       <a href="https://github.com/JoyChristine"><button>My Github Profile</button></a>
                       </li>
                </ul>
            </div>
        </div>
        <div class="left">
           <div class="repos">
               <h2>My repositories</h2>
               <div id="cards-flex">
                <div class="card" style="width: 20vw;">
                   
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5> 
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#"id="btn" class="btn btn-primary">Go to github repo</a>
                    </div>
                </div>
                   
               
           </div>
    
        </div>
        
    </div>
    
</div>
