.app{
    height: 100;
    overflow: hidden;
   background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1505685296765-3a2736de412f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fGNvZGV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
@media (max-width: 767px){
    .app{
    margin-left:-20px;
    margin-right: -20px;
    padding-left: 44px; 
    padding-right: 20px;
}
}